<div class="search-phone">
    <div class="search-phone--close">
        <i class="fas fa-times"></i>
    </div>
    <form action="{{ path('forum') }}" class="search-phone--form">
        <input class="search-phone--form--search" type="search" name="s" placeholder="Trouver un post">
        <button class="search-phone--form--btn" title="Rechercher">
            <i class="fas fa-search"></i>
        </button>
    </form>
</div>