{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe réussi{% endblock %}

{% block body %}

    <div class="reset_password_successful">

    <div class="reset_password_successful--head">
        <div class="reset_password_successful--head--background"></div>
        <div class="reset_password_successful--head--content">
        </div>
    </div>
    <div class="reset_password_successful--cont">
        <div class="reset_password_successful--cont--card">
            <h1 class="reset_password_successful--cont--card--title">Réinitialisation réussi</h1>
            <p class="reset_password_successful--cont--card--msg">
                La réinitialisation de votre mot de passe a bien été réaliser. vous pouvez dès a présent vous connecter.
            </p>
            <div class="reset_password_successful--cont--card--btn-cont">
                <a href="{{ path('homepage') }}" class="reset_password_successful--cont--card--btn-home">Accueil</a>

                <a href="{{ path('app_login') }}" class="reset_password_successful--cont--card--btn-login">Se connecter</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('reset_password_successful') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('reset_password_successful') }}
{% endblock %}