@use "./../abstracts/" as g;
@use "./../layout/" as layout;
@use "./../mixins/elements.scss" as element;
@use "./../form/form.scss" as form;
@use "./../mixins/button.scss" as button;

.check_email_reset_password
{
    @include element.headPage(
        $image: "login.jpg",
        $headHeight: 350px
    ){
        @media (min-width: map-get($map: g.$breakPoint, $key: "S")) {
            height: 450px;

            &--background
            {
                height: 450px - 60px;
            }
        }
    };

    @include element.contPage($headHeight: 350px){

        @media (min-width: map-get($map: g.$breakPoint, $key: "S")) {
            height: 450px;
        }

        @include element.cardPage($maxWidth: 600px){
            
            &--msg
            {
                font-size: 20px;
                font-family: g.$fontBody;
                text-align: justify;
                margin-bottom: 20px;
            }

            &--title
            {
                font-family: g.$fontTitle;
                font-size: 25px;
                font-weight: bold;
                line-height: 30px;
                margin-bottom: 20px;
                text-align: center;

                @media (min-width: map-get($map: g.$breakPoint, $key: "S")) {
                    font-size: 35px;
                    line-height: 45px;
                }
            }

        }

    }
}