@use "./../abstracts/" as g;
@use "./../layout/" as layout;
@use "./../mixins/elements.scss" as element;
@use "./../mixins/button.scss" as button;

.notif_change_email
{
    @include element.headPage(
        $image: "space_member.jpg"
    );

    @include element.contPage(){
        @include element.cardPage($maxWidth: 600px){

            &--title
            {
                font-family: g.$fontTitle;
                font-size: 35px;
                font-weight: bold;
                line-height: 45px;
                margin-bottom: 20px;
                text-align: center;
            }

            &--msg
            {
                font-family: g.$fontBody;
                font-size: 25px;
                line-height: 30px;
                text-align: justify;
            }
        }
    }
}