@use "./../abstracts/" as g;
@use "./../layout/" as layout;
@use "./../mixins/elements.scss" as element;
@use "./../form/form.scss" as form;
@use "./../mixins/button.scss" as button;

.register-page
{
    @include element.headPage(
        $image: "login.jpg"
    );

    @include element.contPage(){
        @include element.cardPage($maxWidth: 600px){

            &--form
            {
                width: 100%;

                &--btn
                {
                    @include button.buttonTertiary($height: 60px,$width: 200px,$fontSize: 25px){
                        border-style: none;
                    };
                }

                &--cont-btn
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    padding: 20px;
                }
            }

            &--separator
            {
                color: g.$black;
                width: 100%;
                margin: 15px 0;
            }

        }
    }
}