@use "./../abstracts/" as g;
@use "./../layout/" as layout;
@use "./../mixins/elements.scss" as element;
@use "./../form/form.scss" as form;
@use "./../mixins/button.scss" as button;

.request_reset_password
{
    @include element.headPage(
        $image: "login.jpg"
    ){
        &--content
        {
            &--title
            {
                line-height: 55px;
                font-size: 40px;

                @media (min-width: map-get($map: g.$breakPoint, $key: "S")) {
                    font-size: 70px;
                    line-height: 90px;
                }
            }
        }
    };

    @include element.contPage(){

        @include element.cardPage($maxWidth: 600px, $cardMargin: 150px){
            
            &--msg
            {
                font-size: 20px;
                font-family: g.$fontBody;
                margin-bottom: 20px;
            }

            &--cont-btn
            {
                display: flex;
                align-items: center;
                justify-content: center;

                padding: 20px;
            }

            &--btn
            {
                @include button.buttonTertiary($height: 60px,$width: 200px,$fontSize: 25px){
                    border-style: none;
                };
            }

        }

    }
}