@use "./../abstracts/" as g;
@use "./../layout/" as layout;
@use "./../mixins/elements.scss" as element;
@use "./../form/form.scss" as form;
@use "./../mixins/button.scss" as button;

.reset_password
{
    @include element.headPage(
        $image: "login.jpg",
        $headHeight: 350px
    );

    @include element.contPage($headHeight: 350px){

        @include element.cardPage($maxWidth: 600px, $cardMargin: 150px){

            &--title
            {
                font-family: g.$fontTitle;
                font-size: 25px;
                font-weight: bold;
                line-height: 30px;
                margin-bottom: 20px;
                text-align: center;

                @media (min-width: map-get($map: g.$breakPoint, $key: "S")) {
                    font-size: 35px;
                    line-height: 45px;
                }
            }

            &--cont-btn
            {
                display: flex;
                align-items: center;
                justify-content: center;

                padding: 20px;
            }

            &--btn
            {
                @include button.buttonTertiary($height: 60px,$width: 200px,$fontSize: 25px){
                    border-style: none;
                };
            }

        }

    }
}