@use "./../abstracts/" as g;
@use "./../layout/" as layout;
@use "./../mixins/elements.scss" as element;
@use "./../form/form.scss" as form;
@use "./../mixins/button.scss" as button;

.reset_password_successful
{
    @include element.headPage(
        $image: "login.jpg",
        $headHeight: 350px
    ){
        @media (min-width: map-get($map: g.$breakPoint, $key: "S")) {
            height: 450px;

            &--background
            {
                height: 450px - 60px;
            }
        }
    };

    @include element.contPage($headHeight: 350px){

        @media (min-width: map-get($map: g.$breakPoint, $key: "S")) {
            height: 450px;
        }

        @include element.cardPage($maxWidth: 600px){

            &--title
            {
                font-family: g.$fontTitle;
                font-size: 25px;
                font-weight: bold;
                line-height: 30px;
                margin-bottom: 20px;
                text-align: center;

                @media (min-width: map-get($map: g.$breakPoint, $key: "S")) {
                    font-size: 35px;
                    line-height: 45px;
                }
            }

            &--msg
            {
                font-size: 20px;
                font-family: g.$fontBody;
            }

            &--btn-cont
            {
                display: grid;
                grid-template-rows: auto auto;
                padding: 30px 0;
                justify-content: space-between;
                row-gap: 20px;

                @media (min-width: map-get(g.$breakPoint,"S")) {
                    grid-template-rows: auto;
                    grid-template-columns: auto auto ;
                    row-gap: 0;
                    column-gap: 40px;
                }
            }

            &--btn-home
            {
                @include button.buttonTertiary($width: 200px, $height: 60px, $fontSize: 25px);
            }

            &--btn-login
            {
                @include button.buttonSecondary($width: 200px, $height: 60px, $fontSize: 25px);
            }

        }

    }
}