$primary: (
    "Vlight": #FFBA8B,
    "light": #EB955A,
    "regular": #D37434,
    "dark": #AF5519,
    "Vdark": #883802
);

$secondary: (
    "Vlight": #FFD58B,
    "light": #EBB65A,
    "regular": #D39934,
    "dark": #AF7819,
    "Vdark": #885802
);

$tertiary: (
    "Vlight": #F68693,
    "light": #E15666,
    "regular": #CA3244,
    "dark": #A71829,
    "Vdark": #830211
);

$white: #FFF;
$black: #000;