<a class="space_member--cont--item" href="{{ link }}">
    <div class="space_member--cont--item--icon">
        <i class="{{ icon }}"></i>
    </div>
    <div class="space_member--cont--item--title">
        {{ title }}
    </div>
</a>