{% extends "base.html.twig" %}

{% block title %}Sujets suivis{% endblock %}

{% block body %}

    <div class="follow_subject">
        <div class="follow_subject--head">
            <div class="follow_subject--head--background"></div>
            <div class="follow_subject--head--content">
                <h1 class="follow_subject--head--content--title">Sujets suivis</h1>
            </div>
        </div>
        <div class="follow_subject--cont">
            <div class="follow_subject--cont--list">
                {% for post in posts %}
                    {% include "homepage/_topic.html.twig" with {"post": post, "follow": true} %}
                {% endfor %}
                <div class="follow_subject--cont--list--pagination">
                    {% if isPreviousPage %}
                        {% set params = app.request.query.all|merge({"page": previousPageNb}) %}

                        <a href="{{ path('list_follow_subject', params) }}" class="follow_subject--cont--list--pagination--prev follow_subject--cont--list--pagination--paginate">
                            <i class="fas fa-chevron-left"></i>
                        </a>
                    {% endif %}
                    {% if isNextPage %}
                        {% set params = app.request.query.all|merge({"page": nextPageNb}) %}

                        <a href="{{ path('list_follow_subject', params) }}" class="follow_subject--cont--list--pagination--next follow_subject--cont--list--pagination--paginate">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('follow_subject') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('follow_subject') }}
{% endblock %}